.events-page {
  background: #f8f8f6;
  min-height: 100vh;
}

.events-layout {
  max-width: 1400px;

  margin: 60px auto;

  padding: 0 60px;

  display: grid;
  grid-template-columns: 1.6fr 1fr;

  gap: 35px;

  align-items: start;

  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
}

@media (max-width: 1100px) {
  .events-layout {
    grid-template-columns: 1fr;

    padding: 0 25px;
  }
}

@media (max-width: 768px) {
  .events-layout {
    margin: 40px auto;

    padding: 0 20px;

    gap: 24px;

    &__left,
    &__right {
      gap: 24px;
    }
  }
}